<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Ambition Idea - an AI company</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="An AI Company" name="keywords">
    <meta content="An AI Company" name="description">

    <!-- Favicon -->
	<!-- ****** faviconit.com favicons ****** -->
	<link rel="shortcut icon" href="faviconit/favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="faviconit/favicon.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="faviconit/favicon-192.png">
	<link rel="icon" type="image/png" sizes="160x160" href="faviconit/favicon-160.png">
	<link rel="icon" type="image/png" sizes="96x96" href="faviconit/favicon-96.png">
	<link rel="icon" type="image/png" sizes="64x64" href="faviconit/favicon-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="faviconit/favicon-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="faviconit/favicon-16.png">
	<link rel="apple-touch-icon" href="faviconit/favicon-57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="faviconit/favicon-114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="faviconit/favicon-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="faviconit/favicon-144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="faviconit/favicon-60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="faviconit/favicon-120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="faviconit/favicon-76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="faviconit/favicon-152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="faviconit/favicon-180.png">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="faviconit/favicon-144.png">
	<meta name="msapplication-config" content="faviconit/browserconfig.xml">
	<!-- ****** faviconit.com favicons ****** -->
    
      <!-- meta -->
  <meta property="og:url" content="ambitionidea.com">
  <meta property="og:title" content="Ambition Idea">
  <meta property="og:type" content="website">
  <meta property="og:image" content="AmbitionIdea.jpg">
  <meta property="og:description" content="An AI Company">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Rubik&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"> -->
    <script src="https://kit.fontawesome.com/66a7797dfa.js" crossorigin="anonymous"></script>

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid bg-dark py-3 px-lg-5 d-none d-lg-block">
        <div class="row">
            <div class="col-md-6 text-center text-lg-left mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center">
                    <a class="text-body pr-3" href=""><i class="fa fa-phone-alt mr-2"></i>+82 010 2708 3929</a>
                    <span class="text-body">|</span>
                    <a class="text-body px-3" href=""><i class="fa fa-envelope mr-2"></i>dongho0127@snu.ac.kr</a>
                </div>
            </div>
            <div class="col-md-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-body px-3" href="https://github.com/AmbitionIdea" target="_blank" >
                        <i class="fab fa-github"></i>
                    </a>
                    <a class="text-body px-3" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-body px-3" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-body px-3" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-body pl-3" href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid position-relative nav-bar p-0">
        <div class="position-relative px-lg-5" style="z-index: 9;">
            <nav class="navbar navbar-expand-lg bg-secondary navbar-dark py-3 py-lg-0 pl-3 pl-lg-5">
                <a href="index.html" class="navbar-brand">
                    <h1 class="text text-primary mb-1">Ambition Idea</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                    <div class="navbar-nav ml-auto py-0">
                        <a href="index.html" class="nav-item nav-link active">Home</a>
                        <a href="about.html" class="nav-item nav-link">About</a>
                        <a href="service.html" class="nav-item nav-link">Achivements</a>
                        <a href="apps.html" class="nav-item nav-link">Apps</a>

                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a href="team.html" class="dropdown-item">The Team</a>
                                <a href="https://github.com/AmbitionIdea" target="_blank" class="dropdown-item">Our Github page</a>
                                <a href="https://183.107.11.73:2233/tree?" target="_blank" class="dropdown-item">Jupyter Notebook</a>
                            </div>
                        </div>
                        <a href="contact.html" class="nav-item nav-link">Contact</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Search Start -->
    <div class="container-fluid bg-white pt-4 px-lg-5">
        
            </div>

    <!-- Search End -->


    <!-- Page Header Start -->
    <div class="container-fluid page-header" >
        <h1 class="display-3 text-uppercase text-white mb-3">Our Apps</h1>
        <div class="d-inline-flex text-white">
            <h6 class="text-uppercase m-0"><a class="text-white" href="index.html">Home</a></h6>
            <h6 class="text-body m-0 px-3">/</h6>
            <h6 class="text-uppercase text-body m-0">Apps</h6>
        </div>
    </div>
    <!-- Page Header Start -->

        <!-- apps & programs Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <h1 class="display-4 text-uppercase text-center mb-5">Our Apps & Programs</h1>
            
            <div class="row">
                
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item active mb-4">
                        <img class="img-fluid mb-4" src="apps/images/img2img.jpg" alt="">
                        <h4 class="text-uppercase mb-4">ADesign</h4>
                        <div class="d-flex justify-content-center mb-4">
                            <div class="px-2">
                                <i class="fa fa-check text-primary mr-1"></i>
                                <span>On 2022.09.19</span>
                            </div>
                            <div class="px-2">
                                <i class="fa fa-download text-primary mr-1"></i>
                                <span> --- </span>
                            </div>
                        </div>
                        <a class="btn btn-primary px-3" href="https://play.google.com/store/apps/details?id=com.dongho0127.img2img" target="_blank">Download</a>
                        <a class="btn btn-warning px-3" href="apps/img2img/index.html" target="_blank" >Try On Web - Beta</a>

                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-4">
                        <img class="img-fluid mb-4" src="apps/images/stable_diffusion.jpg" alt="">
                        <h4 class="text-uppercase mb-4">Text To Image</h4>
                        <div class="d-flex justify-content-center mb-4">
                            <div class="px-2">
                                <i class="fa fa-check text-primary mr-1"></i>
                                <span>On 2022.08.26</span>
                            </div>
                            <div class="px-2">
                                <i class="fa fa-download text-primary mr-1"></i>
                                <span>300</span>
                            </div>
                        </div>
                        <a class="btn btn-primary px-3" href="https://play.google.com/store/apps/details?id=com.dongho0127.text_to_image" target="_blank">Download</a>
                        <a class="btn btn-warning px-3" href="apps/stable_diffusion/index.html" target="_blank" >Try On Web</a>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-4">
                        <img class="img-fluid mb-4" src="apps/images/integral.jpg" alt="">
                        <h4 class="text-uppercase mb-4">Integral & Graph</h4>
                        <div class="d-flex justify-content-center mb-4">
                            <div class="px-2">
                                <i class="fa fa-check text-primary mr-1"></i>
                                <span>On 2022.02.25</span>
                            </div>
                            <div class="px-2">
                                <i class="fa fa-download text-primary mr-1"></i>
                                <span>250</span>
                            </div>
                        </div>
                        <a class="btn btn-primary px-3" href="https://play.google.com/store/apps/details?id=com.dongho0127.integral" target="_blank">Download</a>
                        <a class="btn btn-warning px-3" href="apps/integral/start.html" target="_blank">Try On Web</a>
                    </div>
                </div>
                
                <!--
                 <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-4">
                        <img class="img-fluid mb-4" src="AmbitionIdea.jpg" alt="">
                        <h4 class="text-uppercase mb-4">Comming Out Soon</h4>
                        <div class="d-flex justify-content-center mb-4">
                            <div class="px-2">
                                <i class="fa fa-check text-primary mr-1"></i>
                                <span>On - - -</span>
                            </div>
                            <div class="px-2">
                                <i class="fa fa-download text-primary mr-1"></i>
                                <span>-</span>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-4">
                        <img class="img-fluid mb-4" src="AmbitionIdea.jpg" alt="">
                        <h4 class="text-uppercase mb-4">Comming Out Soon</h4>
                        <div class="d-flex justify-content-center mb-4">
                            <div class="px-2">
                                <i class="fa fa-check text-primary mr-1"></i>
                                <span>On - - -</span>
                            </div>
                            <div class="px-2">
                                <i class="fa fa-download text-primary mr-1"></i>
                                <span>-</span>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-4">
                        <img class="img-fluid mb-4" src="AmbitionIdea.jpg" alt="">
                        <h4 class="text-uppercase mb-4">Comming Out Soon</h4>
                        <div class="d-flex justify-content-center mb-4">
                            <div class="px-2">
                                <i class="fa fa-check text-primary mr-1"></i>
                                <span>On - - -</span>
                            </div>
                            <div class="px-2">
                                <i class="fa fa-download text-primary mr-1"></i>
                                <span>-</span>
                            </div>
                        </div>
                     
                    </div>
                
                </div>
                   -->
               </div>
        </div>
    </div>
    
     <!-- apps & programs end -->   
    
        <!-- Zeroth app start -->
    <div style="background-color: ivory">
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <h1 class="display-4 text-uppercase text-center mb-5"><span class="text-primary">1. </span>ADesign: AI Design-tool</h1>
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <img class="w-50 mb-4" src="apps/images/img2img_explanation.png" alt="">
                    
                    <h3 style="padding-top:100px; padding-bottom:50px">1. What Is It?</h3> 
                    <p>It's an artificailly guided designing software that creates images based on the user's inputs. Use can be divided into two big parts: 1. The user can draw rough sketches from the begining and turn it into realistic product or sight 2. The user can input existing picture or drawing and change small parts of it as they wish, and turn the existing image into revised one. The above picture shows the practicality of our app.</p>
                    
                    <h3 style="padding-top:100px; padding-bottom:50px">2. How does It work?</h3> 
                    <p>We use Conditioned Denoising Diffusion Probalistic Model(DDPM) as our base machine-learning structure. With the help of Continous Masking developed by us, the software can change only the wanted parts of the existing image, which enhances the practicality of our app and distinguishes it from other leading-technology designing softwares.<br/>User's inputs including initial image, prompt, mask are transmitted to our GPU-server for inference and outputs are transmitted back to the user. </p>
                    
                    <h3 style="padding-top:100px; padding-bottom:50px">3. What can be Improved?</h3> 
                    <p>By the power of our GPU-server, inference usually takes 3 seconds, which is fast but can be improved, and we can make multiple results in the same time if our servers were upgraded, which would greately satisfy the end-user as every results are different due to our models being probalistic.<br/>As technology grows, we will continue to study cutting-edge techniques and ensure that the user gets the best experience using our app.</p>
                </div>
            </div>
        </div>
    </div>
    

    <div class="container-fluid py-5">
        <div class="container py-5">
            <h1 class="display-6 text-uppercase text-center mb-5"><span class="text-primary">Screenshots</span></h1>

            <div class="owl-carousel team-carousel position-relative" style="padding: 0 30px;">
                <div class="team-item">
                    <img class="img-fluid w-100" src="apps/images/7_1800_3200.png" alt="">
                    <div class="position-relative py-4">
                    </div>
                </div>
                <div class="team-item">
                    <img class="img-fluid w-100" src="apps/images/8_1800_3200.png" alt="">
                    <div class="position-relative py-4">
                    </div>
                </div>
                <div class="team-item">
                    <img class="img-fluid w-100" src="apps/images/13_1800_3200.png" alt="">
                    <div class="position-relative py-4">
                    </div>
                </div>
                <div class="team-item">
                    <img class="img-fluid w-100" src="apps/images/14_1800_3200.png" alt="">
                    <div class="position-relative py-4">
                    </div>
                </div>
                
            </div>

        </div>       
    
        
        
    </div>
        <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="owl-carousel team-carousel position-relative" style="padding: 0 30px;">
                <div class="team-item">
                    <img class="img-fluid w-100" src="apps/images/4_3200_1800.png" alt="">
                    <div class="position-relative py-4">
                    </div>
                </div>
                <div class="team-item">
                    <img class="img-fluid w-100" src="apps/images/2_3200_1800.png" alt="">
                    <div class="position-relative py-4">
                    </div>
                </div>
                <div class="team-item">
                    <img class="img-fluid w-100" src="apps/images/3_3200_1800.png" alt="">
                    <div class="position-relative py-4">
                    </div>
                </div>
                <div class="team-item">
                    <img class="img-fluid w-100" src="apps/images/9_3200_1800.png" alt="">
                    <div class="position-relative py-4">
                    </div>
                </div>
                <div class="team-item">
                    <img class="img-fluid w-100" src="apps/images/11_3200_1800.png" alt="">
                    <div class="position-relative py-4">
                    </div>
                </div>
                
            </div>

        </div>       
    </div>
    </div>
    
    <!-- Zeroth App End -->

    <!-- First app start -->
    <div style="background-color: #F0ECDE">
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <h1 class="display-4 text-uppercase text-center mb-5"><span class="text-primary">2. </span>Turn Text into Realistic Image</h1>
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <img class="w-50 mb-4" src="apps/images/stable_diffusion.jpg" alt="">
                    <h3 style="padding-top:100px; padding-bottom:50px">1. What Is It?</h3> 
                    <p>It's an App that creates realistic-looking images based on user's prompts. one can input any prompts, no matter how impossible it may sound.<br/>For example, the above images was generated by our app with prompt "An astronaut riding a horse in the moon". We can fulfil our curiosity of how a crazy-sounding description can come to life by generating actual images corresponding to it, or we can just play it simple and enter normal prompts like "a beautiful mountain with lake and sunsets" and admire the true-looking outputs of the app.</p>
                    
                    <h3 style="padding-top:100px; padding-bottom:50px">2. How does It work?</h3> 
                    <p>The app gets input prompt from users and sends it to our server. Then, our GPU-server uses machine-learned models to generate images from it. We use stable-diffusion model as our generative model, which is included in a family of denoising-diffusion models. <br/>More information about denoising-diffusion models can be seen in Achivements/"Denoising Diffusion Probalistic Models". <br/>The image is than transferred back to the user to display outputs</p>
                    
                    <h3 style="padding-top:100px; padding-bottom:50px">3. What can be Improved?</h3> 
                    <p>Inference time takes up to 5 seconds for now, which can be multipled by the number of users concurrently using the app. We plan to upgrade our GPU-server to quicken our inference time and give better experience to the end-users<br/> We also plan to create an additional app that inputs User's drawings and the way the user wants it to be, and create a beautiful artwork based on it. It also uses stable-diffusion, so It could be an extention of our app.</p>
                </div>
            </div>
        </div>
    </div>
    

    <div class="container-fluid py-5">
        <div class="container py-5">
            <h1 class="display-6 text-uppercase text-center mb-5"><span class="text-primary">Screenshots</span></h1>

            <div class="owl-carousel team-carousel position-relative" style="padding: 0 30px;">
                <div class="team-item">
                    <img class="img-fluid w-100" src="apps/images/1353_a_cat_Wearing_Sunglasses.jpg" alt="">
                    <div class="position-relative py-4">
                        <p>"A cat wearing sunglasses"</p>
                    </div>
                </div>
                <div class="team-item">
                    <img class="img-fluid w-100" src="apps/images/1562_a_dog_riding_skateboard_in_times_square_.jpg" alt="">
                    <div class="position-relative py-4">
                        <p>"A dog riding skateboard in times-square"</p>
                    </div>
                </div>
                <div class="team-item">
                    <img class="img-fluid w-100" src="apps/images/1355_a_man_riding_a_horse_in_the_moon.jpg" alt="">
                    <div class="position-relative py-4">
                        <p>"A man riding a horse in the moon"</p>
                    </div>
                </div>
                <div class="team-item">
                    <img class="img-fluid w-100" src="apps/images/2189_a_dog_driving_a_car.jpg" alt="">
                    <div class="position-relative py-4">
                        <p>"A dog driving a car"</p>
                    </div>
                </div>
                
                <div class="team-item">
                    <img class="img-fluid w-100" src="apps/images/1378_a_pencil_drawn_puppy.jpg" alt="">
                    <div class="position-relative py-4">
                        <p>"A pencil-drawn puppy"</p>
                    </div>
                </div>
                <div class="team-item">
                    <img class="img-fluid w-100" src="apps/images/2213_a_painting_of_a_virus_monster_playing_guitar.jpg" alt="">
                    <div class="position-relative py-4">
                        <p>"painting of a virus monster playing guitar"</p>
                    </div>
                </div>
                <div class="team-item">
                    <img class="img-fluid w-100" src="apps/images/1391_teddy_bear_riding_skateboard_.jpg" alt="">
                    <div class="position-relative py-4">
                        <p>"teddy bear riding skateboard"</p>
                    </div>
                </div>
                <div class="team-item">
                    <img class="img-fluid w-100" src="apps/images/1413_multiverse_.jpg" alt="">
                    <div class="position-relative py-4">
                        <p>"multiverse"</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- First App End -->

    
    <!-- Second app start -->
    <div style="background-color: ivory">
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <h1 class="display-4 text-uppercase text-center mb-5"><span class="text-primary">3. </span>Integral & Graph : Math Tools</h1>
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <img class="w-50 mb-4" src="apps/images/integral.jpg" alt="">
                    <h3 style="padding-top:100px; padding-bottom:50px">1. What Is It?</h3> 
                    <p>It's a graphic calculator designed to graph functions and find the area under the graph. It's useful to use in situations where you have some simple function and have to graph it, but you don't want to use expensive applications that are complicated hard to use.<br/> Our app is really intuitive and simple to use. Just put in the function and press "OK"!. Users can input the range of 'x' to specify the region they want to show. <br/>It also integrates the area under the graph, so it's usefull in engineering purposes.</p>
                    
                    <h3 style="padding-top:100px; padding-bottom:50px">2. How does It work?</h3> 
                    <p>We use python's Numpy library to calculate the integration and matplotlib to graph the outputs. Numpy library has tons of functions available to use, so you can basically input all the functions you can think of, and it will work. <br/>For integration, we use Riemann's integration to approximate the solution<br/>Computation is done on our servers, so no need for good hardware on user's side is required.</p>
                    
                    <h3 style="padding-top:100px; padding-bottom:50px">3. What can be Improved?</h3> 
                    <p>There is currently no machine-learning code required on this app, so computation time is really small. However, when inputting a wide range of 'x', computation time does increase to noticeable levels, and we plan to upgrade our hardware to shorten waiting time.<br/>Also, since the app is really simple, there is not much that the user can do. So we plan to upgrade it's functionality and put in more applications!</p>
                </div>
            </div>
        </div>
    </div>
    

    <div class="container-fluid py-5">
        <div class="container py-5">
            <h1 class="display-6 text-uppercase text-center mb-5"><span class="text-primary">Screenshots</span></h1>

            <div class="owl-carousel team-carousel position-relative" style="padding: 0 30px;">
                <div class="team-item">
                    <img class="img-fluid w-100" src="apps/images/Screenshot_20220902-140257.jpg" alt="">
                    <div class="position-relative py-4">
                    </div>
                </div>
                <div class="team-item">
                    <img class="img-fluid w-100" src="apps/images/Screenshot_20220902-140302.jpg" alt="">
                    <div class="position-relative py-4">
                    </div>
                </div>
                <div class="team-item">
                    <img class="img-fluid w-100" src="apps/images/Screenshot_20220902-140422.jpg" alt="">
                    <div class="position-relative py-4">
                    </div>
                </div>
                <div class="team-item">
                    <img class="img-fluid w-100" src="apps/images/Screenshot_20220902-140427.jpg" alt="">
                    <div class="position-relative py-4">
                    </div>
                </div>
                
            </div>
        </div>       
    </div>
    </div>
    <!-- Second App End -->
    
    
    <!-- Vendor Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="owl-carousel vendor-carousel">
                <div class="bg-light p-4">
                    <img src="img/tensorflow.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="img/openai.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="img/pytorch.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="img/deepmind.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="img/google.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="img/linux.jpeg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="img/node.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="img/flutter.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor End -->


    <!-- Footer Start -->
    <div class="container-fluid bg-secondary py-5 px-sm-3 px-md-5" style="margin-top: 90px;">
        <div class="row pt-5">
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-uppercase text-light mb-4">Get In Touch</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-white mr-3"></i>SNU, seoul, Korea</p>
                <p class="mb-2"><i class="fa fa-phone-alt text-white mr-3"></i>+082 010-2708-3929</p>
                <p><i class="fa fa-envelope text-white mr-3"></i>dongho0127@snu.ac.kr</p>
                <h6 class="text-uppercase text-white py-2">Follow Us</h6>
                <div class="d-flex justify-content-start">
                    <a class="btn btn-lg btn-dark btn-lg-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-lg btn-dark btn-lg-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-lg btn-dark btn-lg-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-lg btn-dark btn-lg-square" href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-uppercase text-light mb-4">Usefull Links</h4>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-body mb-2" href="#"><i class="fa fa-angle-right text-white mr-2"></i>Private Policy</a>
                    <a class="text-body mb-2" href="#"><i class="fa fa-angle-right text-white mr-2"></i>Term & Conditions</a>
                    <a class="text-body mb-2" href="#"><i class="fa fa-angle-right text-white mr-2"></i>New Member Registration</a>
                    <a class="text-body mb-2" href="#"><i class="fa fa-angle-right text-white mr-2"></i>Affiliate Programme</a>
                    <a class="text-body" href="#"><i class="fa fa-angle-right text-white mr-2"></i>Help & FQAs</a>
                </div>
            </div>

            
        </div>
    </div>
    <div class="container-fluid bg-dark py-4 px-sm-3 px-md-5">
        <p class="mb-2 text-center text-body">&copy; <a href="#">Ambition Ideas</a>. All Rights Reserved.</p>

    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>