<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Ambition Idea - an AI company</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="An AI Company" name="keywords">
    <meta content="An AI Company" name="description">

    <!-- Favicon -->
	<!-- ****** faviconit.com favicons ****** -->
	<link rel="shortcut icon" href="faviconit/favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="faviconit/favicon.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="faviconit/favicon-192.png">
	<link rel="icon" type="image/png" sizes="160x160" href="faviconit/favicon-160.png">
	<link rel="icon" type="image/png" sizes="96x96" href="faviconit/favicon-96.png">
	<link rel="icon" type="image/png" sizes="64x64" href="faviconit/favicon-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="faviconit/favicon-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="faviconit/favicon-16.png">
	<link rel="apple-touch-icon" href="faviconit/favicon-57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="faviconit/favicon-114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="faviconit/favicon-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="faviconit/favicon-144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="faviconit/favicon-60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="faviconit/favicon-120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="faviconit/favicon-76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="faviconit/favicon-152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="faviconit/favicon-180.png">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="faviconit/favicon-144.png">
	<meta name="msapplication-config" content="faviconit/browserconfig.xml">
	<!-- ****** faviconit.com favicons ****** -->
    
      <!-- meta -->
  <meta property="og:url" content="ambitionidea.com">
  <meta property="og:title" content="Ambition Idea">
  <meta property="og:type" content="website">
  <meta property="og:image" content="AmbitionIdea.jpg">
  <meta property="og:description" content="An AI Company">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Rubik&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"> -->
    <script src="https://kit.fontawesome.com/66a7797dfa.js" crossorigin="anonymous"></script>

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid bg-dark py-3 px-lg-5 d-none d-lg-block">
        <div class="row">
            <div class="col-md-6 text-center text-lg-left mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center">
                    <a class="text-body pr-3" href=""><i class="fa fa-phone-alt mr-2"></i>+82 010 2708 3929</a>
                    <span class="text-body">|</span>
                    <a class="text-body px-3" href=""><i class="fa fa-envelope mr-2"></i>AmbitionIdeaInc@gmail.com</a>
                </div>
            </div>
            <div class="col-md-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-body px-3" href="https://github.com/AmbitionIdea" target="_blank" >
                        <i class="fab fa-github"></i>
                    </a>
                    <a class="text-body px-3" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-body px-3" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-body px-3" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-body pl-3" href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid position-relative nav-bar p-0">
        <div class="position-relative px-lg-5" style="z-index: 9;">
            <nav class="navbar navbar-expand-lg bg-secondary navbar-dark py-3 py-lg-0 pl-3 pl-lg-5">
                <a href="index.html" class="navbar-brand">
                    <h1 class="text text-primary mb-1">Ambition Idea</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                    <div class="navbar-nav ml-auto py-0">
                        <a href="index.html" class="nav-item nav-link active">Home</a>
                        <a href="about.html" class="nav-item nav-link">About</a>
                        <a href="service.html" class="nav-item nav-link">Achivements</a>
                        <a href="apps.html" class="nav-item nav-link">Apps</a>

                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a href="team.html" class="dropdown-item">The Team</a>
                                <a href="https://github.com/AmbitionIdea" target="_blank" class="dropdown-item">Our Github page</a>
                                <a href="https://183.107.11.73:2233/tree?" target="_blank" class="dropdown-item">Jupyter Notebook</a>
                            </div>
                        </div>
                        <a href="contact.html" class="nav-item nav-link">Contact</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Search Start -->
    <div class="container-fluid bg-white pt-4 px-lg-5">
        
            </div>

    <!-- Search End -->


    <!-- Carousel Start -->
    <div class="container-fluid p-0" style="margin-bottom: 90px;">
        <div id="header-carousel" class="carousel slide" data-ride="carousel">

                
            <div class="carousel-inner">
                
                <div class="carousel-item active">
                    <img class="w-100" src="img/img2img.jpg" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h4 class="text-white text-uppercase mb-md-3">App</h4>
                            <h1 class="display-1 text-white mb-md-4">ADesign</h1>
                            <table align="center">
                                <tr>
                                    <td><a href="https://play.google.com/store/apps/details?id=com.dongho0127.img2img" target="_blank" class="btn btn-primary py-md-3 px-md-5 mt-2">Download</a></td>
                                    <td><a href="apps/img2img/index.html" target="_blank"class="btn btn-warning py-md-3 px-md-5 mt-2">Try on Web - Beta</a></td>     
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            
                <div class="carousel-item">
                    <img class="w-100" src="img/text_to_image.jpg" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h4 class="text-white text-uppercase mb-md-3">App</h4>
                            <h1 class="display-1 text-white mb-md-4">Turn Text into Realistic Image</h1>
                            <table align="center">
                                <tr>
                                    <td><a href="https://play.google.com/store/apps/details?id=com.dongho0127.text_to_image" target="_blank" class="btn btn-primary py-md-3 px-md-5 mt-2">Download</a></td>
                                    <td><a href="apps/stable_diffusion/index.html" target="_blank"class="btn btn-warning py-md-3 px-md-5 mt-2">Try on Web</a></td>     
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                
               
                
                <div class="carousel-item">
                    <img class="w-100" src="img/integral.jpg" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h4 class="text-white text-uppercase mb-md-3">App</h4>
                            <h1 class="display-1 text-white mb-md-4">Integral & Graph Math Tools</h1>
                            <table align="center">
                                <tr>
                                    <td><a href="https://play.google.com/store/apps/details?id=com.dongho0127.integral" target="_blank" class="btn btn-primary py-md-3 px-md-5 mt-2">Download</a></td>
                                    <td><a href="apps/integral/start.html" target="_blank" class="btn btn-warning py-md-3 px-md-5 mt-2">Try on Web</a></td>     
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                <div class="btn btn-dark" style="width: 45px; height: 45px;">
                    <span class="carousel-control-prev-icon mb-n2"></span>
                </div>
            </a>
            <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                <div class="btn btn-dark" style="width: 45px; height: 45px;">
                    <span class="carousel-control-next-icon mb-n2"></span>
                </div>
            </a>
        </div>
    </div>
    <!-- Carousel End -->


    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <h1 class="display-1 text-primary text-center">01</h1>
            <h1 class="display-4 text-uppercase text-center mb-5">Welcome To <span class="text-primary">Ambition Idea - AI</span></h1>
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <img class="w-75 mb-4" src="img/neural_network.gif" alt="">
                    <p>Our Team specializes in making machine-learning applications come to life by making user-friendly programs and apps. We use cutting-edge technology and update our models constantly to provide state-of-the-art results to our users. Our CEO, Dongho-Yee is currently enrolling SNU, and is sharply looking for ambitionous ideas that flood people in the world of machine-learning and AI</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-4 mb-2">
                    <div class="d-flex align-items-center bg-light p-4 mb-4" style="height: 150px;">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4" style="width: 100px; height: 100px;">
                            <i class="fa fa-2x fa-code text-secondary"></i>
                        </div>
                        <h4 class="text-uppercase m-0">User-friendly apps</h4>
                    </div>
                </div>
                <div class="col-lg-4 mb-2">
                    <div class="d-flex align-items-center bg-secondary p-4 mb-4" style="height: 150px;">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4" style="width: 100px; height: 100px;">
                            <i class="fa fa-2x fa-network-wired text-secondary"></i>
                        </div>
                        <h4 class="text-light text-uppercase m-0">Run models on our Server</h4>
                    </div>
                </div>
                <div class="col-lg-4 mb-2">
                    <div class="d-flex align-items-center bg-light p-4 mb-4" style="height: 150px;">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4" style="width: 100px; height: 100px;">
                            <i class="fa fa-2x fa-heart text-secondary"></i>
                        </div>
                        <h4 class="text-uppercase m-0">value ethics</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    

    <!-- Services Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <h1 class="display-1 text-primary text-center">02</h1>
            <h1 class="display-4 text-uppercase text-center mb-5">Our ambitioins</h1>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="service-item d-flex flex-column justify-content-center px-4 mb-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                                <i class="fa fa-2x fa-laptop-code text-secondary"></i>
                            </div>
                            <h1 class="display-2 text-white mt-n2 m-0">01</h1>
                        </div>
                        <h4 class="text-uppercase mb-3">Machine-Learning</h4>
                        <p class="m-0">We study cutting-edge machine learning technology</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="service-item active d-flex flex-column justify-content-center px-4 mb-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                                <i class="fa fa-2x fa-mobile-screen-button text-secondary"></i>
                            </div>
                            <h1 class="display-2 text-white mt-n2 m-0">02</h1>
                        </div>
                        <h4 class="text-uppercase mb-3">develop apps</h4>
                        <p class="m-0">Develop apps for individual use</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="service-item d-flex flex-column justify-content-center px-4 mb-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                                <i class="fa fa-2x fa-comments-dollar text-secondary"></i>
                            </div>
                            <h1 class="display-2 text-white mt-n2 m-0">03</h1>
                        </div>
                        <h4 class="text-uppercase mb-3">Free to use</h4>
                        <p class="m-0">We believe that all our apps and programs sould be free to use and is open-sourced</p>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="service-item d-flex flex-column justify-content-center px-4 mb-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                                <i class="fa fa-2x fa-cogs text-secondary"></i>
                            </div>
                            <h1 class="display-2 text-white mt-n2 m-0">04</h1>
                        </div>
                        <h4 class="text-uppercase mb-3">robot integration</h4>
                        <p class="m-0">make robots come to life by putting machine-learned models in them</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="service-item d-flex flex-column justify-content-center px-4 mb-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                                <i class="fa fa-2x fa-book text-secondary"></i>
                            </div>
                            <h1 class="display-2 text-white mt-n2 m-0">05</h1>
                        </div>
                        <h4 class="text-uppercase mb-3">Acedemic Growth</h4>
                        <p class="m-0">Keep studying the latest papers and publish our own</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="service-item d-flex flex-column justify-content-center px-4 mb-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                                <i class="fa fa-2x fa-globe text-secondary"></i>
                            </div>
                            <h1 class="display-2 text-white mt-n2 m-0">06</h1>
                        </div>
                        <h4 class="text-uppercase mb-3">benefitial</h4>
                        <p class="m-0">We will continue to make apps and programs that benefit the world and whom live in</p>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <!-- Services End -->


    <!-- Banner Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="bg-banner py-5 px-4 text-center">
                <div class="py-5">
                    <h1 class="display-1 text-uppercase text-primary mb-4">Want to join the team?</h1>
                    <h1 class="text-uppercase text-light mb-4">Currently recruiting new members</h1>
                    <p class="mb-4">Starting from 31th Oct 2022</p>
                    <a class="btn btn-primary mt-2 py-3 px-5" href="join.html">Join Now</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->


    <!-- apps & programs Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <h1 class="display-1 text-primary text-center">03</h1>
            <h1 class="display-4 text-uppercase text-center mb-5">Our Apps & Programs</h1>
            
            <div class="row">
                
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item active mb-4">
                        <img class="img-fluid mb-4" src="apps/images/img2img.jpg" alt="">
                        <h4 class="text-uppercase mb-4">ADesign</h4>
                        <div class="d-flex justify-content-center mb-4">
                            <div class="px-2">
                                <i class="fa fa-check text-primary mr-1"></i>
                                <span>On 2022.09.19</span>
                            </div>
                            <div class="px-2">
                                <i class="fa fa-download text-primary mr-1"></i>
                                <span> --- </span>
                            </div>
                        </div>
                       <a class="btn btn-primary px-3" href="https://play.google.com/store/apps/details?id=com.dongho0127.img2img" target="_blank">Download</a> 
                        <a class="btn btn-warning px-3" href="apps/img2img/index.html"target="_blank" >Try On Web - Beta</a>

                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-4">
                        <img class="img-fluid mb-4" src="apps/images/stable_diffusion.jpg" alt="">
                        <h4 class="text-uppercase mb-4">Text To Image</h4>
                        <div class="d-flex justify-content-center mb-4">
                            <div class="px-2">
                                <i class="fa fa-check text-primary mr-1"></i>
                                <span>On 2022.08.26</span>
                            </div>
                            <div class="px-2">
                                <i class="fa fa-download text-primary mr-1"></i>
                                <span>300</span>
                            </div>
                        </div>
                        <a class="btn btn-primary px-3" href="https://play.google.com/store/apps/details?id=com.dongho0127.text_to_image" target="_blank">Download</a>
                        <a class="btn btn-warning px-3" href="apps/stable_diffusion/index.html" target="_blank" >Try On Web</a>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-4">
                        <img class="img-fluid mb-4" src="apps/images/integral.jpg" alt="">
                        <h4 class="text-uppercase mb-4">Integral & Graph</h4>
                        <div class="d-flex justify-content-center mb-4">
                            <div class="px-2">
                                <i class="fa fa-check text-primary mr-1"></i>
                                <span>On 2022.02.25</span>
                            </div>
                            <div class="px-2">
                                <i class="fa fa-download text-primary mr-1"></i>
                                <span>250</span>
                            </div>
                        </div>
                        <a class="btn btn-primary px-3" href="https://play.google.com/store/apps/details?id=com.dongho0127.integral" target="_blank">Download</a>
                        <a class="btn btn-warning px-3" href="apps/integral/start.html" target="_blank">Try On Web</a>
                    </div>
                </div>
                
                <!--
                 <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-4">
                        <img class="img-fluid mb-4" src="AmbitionIdea.jpg" alt="">
                        <h4 class="text-uppercase mb-4">Comming Out Soon</h4>
                        <div class="d-flex justify-content-center mb-4">
                            <div class="px-2">
                                <i class="fa fa-check text-primary mr-1"></i>
                                <span>On - - -</span>
                            </div>
                            <div class="px-2">
                                <i class="fa fa-download text-primary mr-1"></i>
                                <span>-</span>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-4">
                        <img class="img-fluid mb-4" src="AmbitionIdea.jpg" alt="">
                        <h4 class="text-uppercase mb-4">Comming Out Soon</h4>
                        <div class="d-flex justify-content-center mb-4">
                            <div class="px-2">
                                <i class="fa fa-check text-primary mr-1"></i>
                                <span>On - - -</span>
                            </div>
                            <div class="px-2">
                                <i class="fa fa-download text-primary mr-1"></i>
                                <span>-</span>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-4">
                        <img class="img-fluid mb-4" src="AmbitionIdea.jpg" alt="">
                        <h4 class="text-uppercase mb-4">Comming Out Soon</h4>
                        <div class="d-flex justify-content-center mb-4">
                            <div class="px-2">
                                <i class="fa fa-check text-primary mr-1"></i>
                                <span>On - - -</span>
                            </div>
                            <div class="px-2">
                                <i class="fa fa-download text-primary mr-1"></i>
                                <span>-</span>
                            </div>
                        </div>
                     
                    </div>
                
                </div>
                   -->
               </div>
        </div>
    </div>
    
     <!-- apps & programs end -->      
               


    <!-- Team Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <h1 class="display-1 text-primary text-center">04</h1>
            <h1 class="display-4 text-uppercase text-center mb-5">Meet Our Team</h1>
            <div class="owl-carousel team-carousel position-relative" style="padding: 0 30px;">
                <div class="team-item">
                    <img class="img-fluid w-100" src="img/dongho.jpg" alt="">
                    <div class="position-relative py-4">
                        <h4 class="text-uppercase">Dongho Yee</h4>
                        <p class="m-0">CEO - currently enrolling in SNU</p>
                        <div class="team-social position-absolute w-100 h-100 d-flex align-items-center justify-content-center">
                            <a class="btn btn-lg btn-primary btn-lg-square mx-1" href="#"><i class="fab fa-github"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <img class="img-fluid w-100" src="AmbitionIdea.jpg" alt="">
                    <div class="position-relative py-4">
                        <h4 class="text-uppercase">Recruiting NOW</h4>
                        <p class="m-0">Join the team!</p>
                        <div class="team-social position-absolute w-100 h-100 d-flex align-items-center justify-content-center">
                            <a class="btn btn-lg btn-primary btn-lg-square mx-1" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <img class="img-fluid w-100" src="AmbitionIdea.jpg" alt="">
                    <div class="position-relative py-4">
                        <h4 class="text-uppercase">Recruiting NOW</h4>
                        <p class="m-0">Join the team!</p>
                        <div class="team-social position-absolute w-100 h-100 d-flex align-items-center justify-content-center">
                            <a class="btn btn-lg btn-primary btn-lg-square mx-1" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->



    <!-- Testimonial Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <h1 class="display-1 text-primary text-center">05</h1>
            <h1 class="display-4 text-uppercase text-center mb-5">Our Client's Say</h1>
            <div class="owl-carousel testimonial-carousel">
                <div class="testimonial-item d-flex flex-column justify-content-center px-4">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <img class="img-fluid ml-n4" src="img/basic_face.jpg" alt="">
                        <h1 class="display-2 text-white m-0 fa fa-quote-right"></h1>
                    </div>
                    <h4 class="text-uppercase mb-2">Client 1</h4>
                    <i class="mb-2">Student</i>
                    <p class="m-0">This app really hellped me to appreciate how deep learning can affect our lives</p>
                </div>
                <div class="testimonial-item d-flex flex-column justify-content-center px-4">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <img class="img-fluid ml-n4" src="img/basic_face.jpg" alt="">
                        <h1 class="display-2 text-white m-0 fa fa-quote-right"></h1>
                    </div>
                    <h4 class="text-uppercase mb-2">Client 2</h4>
                    <i class="mb-2">Student</i>
                    <p class="m-0">Wow! I'm amazed by what this company is planning to do</p>
                </div>
             
                <div class="testimonial-item d-flex flex-column justify-content-center px-4">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <img class="img-fluid ml-n4" src="img/basic_face.jpg" alt="">
                        <h1 class="display-2 text-white m-0 fa fa-quote-right"></h1>
                    </div>
                    <h4 class="text-uppercase mb-2">Client 3</h4>
                    <i class="mb-2">Student</i>
                    <p class="m-0">I wish there were more apps and programs like this! very recommended!!</p>
                </div>
                <div class="testimonial-item d-flex flex-column justify-content-center px-4">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <img class="img-fluid ml-n4" src="img/basic_face.jpg" alt="">
                        <h1 class="display-2 text-white m-0 fa fa-quote-right"></h1>
                    </div>
                    <h4 class="text-uppercase mb-2">Client 4</h4>
                    <i class="mb-2">Student</i>
                    <p class="m-0">Very Cool!</p>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Testimonial End -->


    <!-- Contact Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <h1 class="display-1 text-primary text-center">06</h1>
            <h1 class="display-4 text-uppercase text-center mb-5">Contact Us</h1>
            <div class="row">
                <div class="col-lg-7 mb-2">
                    <div class="contact-form bg-light mb-4" style="padding: 30px;">
                        <form form action="mailto:dongho0127@snu.ac.kr" method="POST" enctype="multipart/form-data" name="EmailForm">
                            <div class="row">
                                <div class="col-6 form-group">
                                    <input type="text" class="form-control p-4" placeholder="Your Name" required="required">
                                </div>
                                <div class="col-6 form-group">
                                    <input type="email" class="form-control p-4" placeholder="Your Email" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control p-4" placeholder="Subject" required="required">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control py-3 px-4" rows="5" placeholder="Message" required="required"></textarea>
                            </div>
                            <div>
                                <button class="btn btn-primary py-3 px-5" type="submit">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5 mb-2">
                    <div class="bg-secondary d-flex flex-column justify-content-center px-5 mb-4" style="height: 435px;">
                        <div class="d-flex mb-3">
                            <i class="fa fa-2x fa-map-marker-alt text-primary flex-shrink-0 mr-3"></i>
                            <div class="mt-n1">
                                <h5 class="text-light">Head Office</h5>
                                <p>SNU, Seoul, Korea</p>
                            </div>
                        </div>
                        <div class="d-flex mb-3">
                            <i class="fa fa-2x fa-map-marker-alt text-primary flex-shrink-0 mr-3"></i>
                            <div class="mt-n1">
                                <h5 class="text-light">Branch Office</h5>
                                <p>Engineering 301</p>
                            </div>
                        </div>
                        <div class="d-flex mb-3">
                            <i class="fa fa-2x fa-envelope-open text-primary flex-shrink-0 mr-3"></i>
                            <div class="mt-n1">
                                <h5 class="text-light">Email</h5>
                                <p>dongho0127@snu.ac.kr</p>
                            </div>
                        </div>
                        <div class="d-flex">
                            <i class="fa fa-2x fa-envelope-open text-primary flex-shrink-0 mr-3"></i>
                            <div class="mt-n1">
                                <h5 class="text-light">Have any Ideas?</h5>
                                <p class="m-0">dongho0127@snu.ac.kr</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->


      <!-- Vendor Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="owl-carousel vendor-carousel">
                <div class="bg-light p-4">
                    <img src="img/tensorflow.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="img/openai.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="img/pytorch.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="img/deepmind.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="img/google.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="img/linux.jpeg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="img/node.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="img/flutter.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor End -->


    <!-- Footer Start -->
    <div class="container-fluid bg-secondary py-5 px-sm-3 px-md-5" style="margin-top: 90px;">
        <div class="row pt-5">
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-uppercase text-light mb-4">Get In Touch</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-white mr-3"></i>SNU, seoul, Korea</p>
                <p class="mb-2"><i class="fa fa-phone-alt text-white mr-3"></i>+082 010-2708-3929</p>
                <p><i class="fa fa-envelope text-white mr-3"></i>dongho0127@snu.ac.kr</p>
                <h6 class="text-uppercase text-white py-2">Follow Us</h6>
                <div class="d-flex justify-content-start">
                    <a class="btn btn-lg btn-dark btn-lg-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-lg btn-dark btn-lg-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-lg btn-dark btn-lg-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-lg btn-dark btn-lg-square" href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-uppercase text-light mb-4">Usefull Links</h4>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-body mb-2" href="#"><i class="fa fa-angle-right text-white mr-2"></i>Private Policy</a>
                    <a class="text-body mb-2" href="#"><i class="fa fa-angle-right text-white mr-2"></i>Term & Conditions</a>
                    <a class="text-body mb-2" href="#"><i class="fa fa-angle-right text-white mr-2"></i>New Member Registration</a>
                    <a class="text-body mb-2" href="#"><i class="fa fa-angle-right text-white mr-2"></i>Affiliate Programme</a>
                    <a class="text-body" href="#"><i class="fa fa-angle-right text-white mr-2"></i>Help & FQAs</a>
                </div>
            </div>

            
        </div>
    </div>
    <div class="container-fluid bg-dark py-4 px-sm-3 px-md-5">
        <p class="mb-2 text-center text-body">&copy; <a href="#">Ambition Ideas</a>. All Rights Reserved.</p>

    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>
