<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Ambition Idea - an AI company</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="An AI Company" name="keywords">
    <meta content="An AI Company" name="description">

    <!-- Favicon -->
	<!-- ****** faviconit.com favicons ****** -->
	<link rel="shortcut icon" href="faviconit/favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="faviconit/favicon.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="faviconit/favicon-192.png">
	<link rel="icon" type="image/png" sizes="160x160" href="faviconit/favicon-160.png">
	<link rel="icon" type="image/png" sizes="96x96" href="faviconit/favicon-96.png">
	<link rel="icon" type="image/png" sizes="64x64" href="faviconit/favicon-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="faviconit/favicon-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="faviconit/favicon-16.png">
	<link rel="apple-touch-icon" href="faviconit/favicon-57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="faviconit/favicon-114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="faviconit/favicon-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="faviconit/favicon-144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="faviconit/favicon-60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="faviconit/favicon-120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="faviconit/favicon-76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="faviconit/favicon-152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="faviconit/favicon-180.png">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="faviconit/favicon-144.png">
	<meta name="msapplication-config" content="faviconit/browserconfig.xml">
	<!-- ****** faviconit.com favicons ****** -->

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Rubik&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"> -->
    <script src="https://kit.fontawesome.com/66a7797dfa.js" crossorigin="anonymous"></script>

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <h1>This Page is Currently under Construction</h1>
</body>

</html>
